body {
  background-color: black;
  display: flex;
  justify-content: center;   
       
  height: 100vh;              
  margin: 0;                  
  flex-direction: column;
}
nav {
  width: 100%;
  background-color: #111;
  padding: 15px 40px;
  position: absolute;
  top: 0;
  left: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;  
  gap: 40px;
  margin: 0;
  padding: 0;
}


nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

nav ul li a:hover {
  color: #4fc3f7;   
}

h1{
  color:white;
  margin:0;
}
p{
  color:white;
}
.button {
  width: 150px;
  display: inline-block;
  margin-top: 15px;
  padding: 6px 12px;
  background-color: #4fc3f7;     
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;           
  transition: 0.3s ease;
}

.button:hover {
  background-color: #81d4fa;
  transform: translateY(-2px);   
}
