body {
  background-color: black;
  display: flex;
  justify-content: center;   
       
  height: 100vh;              
  margin: 0;                  
  flex-direction: column;
}
h1{
  color:white;
}
p{
  color:white;
}
