body {
  background-color: black;
  display: flex;
  justify-content: center;   
       
  height: 100vh;              
  margin: 0;                  
  flex-direction: column;
}
nav {
  width: 100%;
  background-color: #111;   
  padding: 15px 0;
  position: absolute;
  top: 0;
  left: 0;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 40px;
  margin: 0;
  padding-right: 30px;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

nav ul li a:hover {
  color: #4fc3f7;   
}

h1{
  color:white;
  margin:0;
}
p{
  color:white;
}
